<div class="container mt-4">
    <h3 class="mb-4">📚 My Courses</h3>

    <div *ngIf="myCourses.length === 0">
        <p class="text-muted">No courses enrolled yet.</p>
    </div>

    <div class="row" *ngIf="myCourses.length > 0">
        <div class="col-md-4 mb-3" *ngFor="let course of myCourses;let i=index">
            <div class="card h-100 shadow-sm">
                <img [src]="course.image" class="card-img-top" height="180">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="fw-bold text-primary">₹{{ course.price }}</p>
                    <button class="btn btn-danger mt-2" (click)="deleteCourse(i)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>